body{ font-size:12px; color:#000000; margin:0; padding:0; background:#fefefe; overflow:hidden; }
.head { background:url("../images/header-bg.png") repeat-x; height:30px;}
.login-form { width:260px;margin:0 auto;background-color: rgba(255, 255, 255, 0.68);border-radius:5px;padding:20px 95px }
